{% extends "base.html" %}

{% block content %}
<h2>Create Saving Plan</h2>

<form method="post">
  {% csrf_token %}

  <p>
    <label>Plan Name</label><br>
    <input type="text" name="name" required>
  </p>

  <p>
    <label>Target Amount</label><br>
    <input type="number" step="0.01" name="target_amount" required>
  </p>

  <p>
    <label>Start Date</label><br>
    <input type="date" name="start_date" required>
  </p>

  <p>
    <label>End Date</label><br>
    <input type="date" name="end_date" required>
  </p>

  <p>
    <label>Frequency</label><br>
    <select name="frequency">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
    </select>
  </p>

  <p>
    <label>Target Per Period</label><br>
    <input type="number" step="0.01" name="target_per_period" required>
  </p>

  <button type="submit">Create Plan</button>
</form>
{% endblock %}
