<!DOCTYPE html>
<html>
<head>
  <title>Vaultly</title>
</head>
<body>

<nav>
  <a href="/">Home</a> |
  <a href="/plans/">My Plans</a> |

  {% if user.is_authenticated %}
    <span>User: {{ user.username|capfirst}} is logged in.</span>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    <a href="{% url 'password_change' %}">Change Password</a>
  {% else %}
    <a href="/register/">Register</a>
    <a href="/accounts/login/">Login</a>
  {% endif %}
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>
